{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks Home
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4"><img src="{{ asset('images/logo.png') }}"> SnowTricks</h1>
                    <p class="lead">Bienvenue sur le Site communautaire SnowTricks</p>
                    <hr>
                    <p>Premier Site de partage de Tricks de Snowboard</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}