.test {
    border: 1px red solid;
}
/* ++++ Styles ++++ */
body {
    background-color: skyblue;
}

.body-box {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Navigation */
.navbar-brand {
}

/* homepage */
.home-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}