{% extends 'base.html.twig' %}

{% block title %}
    Modifier un Trick
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Modifier Trick</h1>

                {{ include('trick/form.html.twig') }}

            </div>
        </div>
    </div>
{% endblock %}