{% extends 'base.html.twig' %}

{% block title %}
    Liste des Tricks
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Liste des Tricks</h1>
            </div>
        </div>
    </div>
{% endblock %}